.header, .footer {
    background-color: #1f2937;
    color: white;
    display: flex;
}

.header {
    flex-direction: column;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 700px;
}

.hero {
    display: flex;
    padding: 50px 50px 100px 50px;
    align-items: center;
    justify-content: center;
}

.container {
    flex: 1;
}

.hero img {
    flex: 1;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8
}

.sec {
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
}

.links p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button, .sign-up {
    background-color: #3882f6;
    color: white;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.section3 {
    background-color: #e5e7eb;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

button {
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    width: 100px;
    padding: 5px 10px;
    border: 2px solid white;
}

.container button {
    border: none;
}

